<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <strong>Horizontal</strong> Form
    </div>
    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="username">Nom du service</label>
          <div class="col-md-9">
            <input [(ngModel)]="user.username" placeholder="nom du pole" name="username" class="form-control" id="username">
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit"  class="btn btn-sm btn-primary" (click)="createUser()"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>
</div><!--/.col-->



