
<div class="page sub-page">
  <h1 id="title" class="title">Login</h1>
  <p class="sub-title">Hello! Log in with your email.</p>
  <!--end hero-->
  <div *ngIf="showErrorMessage">
    <h1>Invalid username and password Please try again</h1>
  </div>
  <div class="form-control-group">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" id="loginForm" [hidden]="chey" class="form clearfix">

              <div class="form-control-group">
                <label class="label" for="email">Username : </label>
                <input name="email" type="email" [(ngModel)]="username" class="form-control" id="email" placeholder="Your Username" required autofocus>
              </div>
              <!--end form-group-->
              <div class="form-control-group">
                <label class="label" for="email">Password : </label>
                <input name="password" [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="Password" required autofocus>
              </div>
              <div class="form-control-group accept-group">
                <nb-checkbox >Remember me</nb-checkbox>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-dark btn-lg btn-block " [disabled]="!loginForm.valid" >Log In</button>
              </div>

            </form>

  </div>

  <section class="another-action" aria-label="Register">
    Don't have an account? <a class="text-link" routerLink="/auth/register">Register</a>
  </section>
</div>
